.App {
  /* background-color: #222; */
  min-height: 100vh;
  padding-bottom: 60px;
}

.creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 30px;
  /* background-color: #ddd; */
  padding: 0 10px;
  border-radius: 8px;
}

.creator button {
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
}

.addButton {
  font-weight: 600;
  font-size: 18px;
  height: 28px;
  width: 28px;
}