.Login, .Signup, .AddVideo {
  text-align: center;
}

.Login h1, .Signup h1, .AddVideo h1 {
  font-family: 'Ink Free', 'Segoe Print';
  font-size: 300%;
}

.Form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.form-input input {
  height: 30px;
  padding: 0 8px;
  background-color: #444;
  border-radius: 4px;
  border: none;
  color: #eee;
}

.Form .button {
  margin: 36px 0;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* background-color: #000aff9d; */
  font-size: 16px;
}

.Form .button:hover {
  background-color: #000aff9d;
}

.Errors {
  background-color: indianred;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}