.Header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* width: 100%; */
  height: fit-content;
  padding: 2px 30px;
  background-color: #000aff9d;
}

.Header h1 {
  font-size: 20px;
}

.Header a {
  color: white;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  min-width: 120px;
}