.Profile {
  margin: 10px 40px;
}

.userContent {
  display: flex;
  justify-content: space-between;
}

.userVideos {
  width: 64%;
  margin: 0;
  padding: 0 10px 20px 10px;
  background-color: #ddd;
  border-radius: 20px;
  background-color: #444;
}

.userVideoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 10px;
}

.addVideo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}