.VideoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px 40px;
}

.Video {
  width: 1fr;
  background-color: #1c1c1c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.thumbnail {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vid {
  padding: 9.4% 0;
  width: 100%;
  background-color: black;
}

.Video a {
  text-decoration: none;
  color: white;
}

.Video .info {
  margin: 0;
  padding: 8px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Video .info p {
  font-size: 90%;
  height: 80%;
}

.VideoProfile {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
}

.videoContent {
  width: 65%;
  background-color: #1c1c1c;
  border-radius: 20px;
  height: fit-content;
}

.videoContent iframe {
  min-height: 315px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.videoInfo {
  padding: 10px;
}

.Comments {
  width: 30%;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 20px;
}

.addComment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addComment input {
  width: 90%;
  padding: 4px 6px;
  height: 16px;
}

.addComment button {
  margin-left: 10px;
}

.Comments li {
  list-style: none;
  list-style-position: inside;
}

.Comments ul {
  padding: 0;
}