.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px 40px;
}

.Video {
  width: 1fr;
  background-color: #1c1c1c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.thumbnail {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.vid {
  padding: 9.4% 0;
  width: 100%;
  background-color: black;
}

.Video a {
  text-decoration: none;
  color: white;
}

.Video .info {
  margin: 0;
  padding: 8px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Video .info p {
  font-size: 90%;
  height: 80%;
}

.video-profile {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
}

.video-content {
  width: 65%;
  background-color: #1c1c1c;
  border-radius: 20px;
  height: fit-content;
}

.video-content iframe {
  min-height: 315px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.video-info {
  padding: 10px;
}